
#game {
}

#login {
	text-align: center;
}

.player-list-wrapper {
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 1px 2px 4px #888888;
	width: 50%;
	padding:10px;
	margin-top:20px;
	display: inline-block;
}

.player-list-wrapper table {
	height: 100px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px #888888;
    border-radius: 4px;
    width: 65%;
    margin: 0 auto;
    border-collapse: collapse;
}

.player-list-wrapper th {
	border-bottom: 1px solid black;
}

.player-list-wrapper tr {
	transition: background-color 0.5s ease;
	border-left:1px solid black;
}

.player-list-wrapper tr:not(:first-child):hover {
	background-color: #888888;
	cursor: pointer;
}

.player-list-container, .game-container {
	display:none;
	width: 100%;
  	text-align: center;
    position: relative;

}

.game-container {

    display:none;
    position: relative;
    width: 100%;
    text-align: center;

}

.player-list-wrapper span {
	font-weight: bold;
}




.this-player-card {
    margin-left: -7%;
}

.opponent-player-card {
    margin-left: -7%;
}

.opponent-player-card:hover, .this-player-card:hover {

    z-index: 1000;
    width: 12% !important;
    position: absolute;
    left: 8px;
    margin-left: 0%;
}




.game-opponent-area-container {

    margin-top: 1%;
}

.game-this-player-container {

    height: 100px;
    margin-top: 23%;
}







.login-wrapper {
	width: 100%;
  	text-align: center;
}

#login {
	border: 1px solid black;
    width: 40%;
    border-radius: 4px;
    box-shadow: 1px 2px 4px #888888;
    padding: 15px;
    display: inline-block;
}

.login-input-text {
	margin-bottom: 10px;
	resize:none;
}






.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

.username {
    position: absolute;
    color: white;
    right: 20px;
    top: 20px;
}